<header class="header">
  <div class="header-container container">
    <nav class="nav">
      <div class="logo-and-nav-box">
        <a
          class="header-logo"
          href="./index.html"
          aria-label="Focus.Frame logo"
        >
          <svg class="header-icon" width="127" height="20">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="#courses" class="nav-link">Our courses</a>
          </li>
          <li class="nav-item">
            <a href="#mentors" class="nav-link">Our mentors</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#contacts" class="nav-link">contacts</a>
          </li>
        </ul>

        <a href="#sign-up" class="icon-camera-box" aria-label="Sign up">
          <svg class="menu-icon-camera" width="16" height="16">
            <use href="./img/icons.svg#icon-camera"></use>
          </svg>
        </a>

        <button type="button" class="open-menu" aria-label="Open menu">
          <svg class="open-menu-icon" width="32" height="22">
            <use href="./img/icons.svg#icon-Nav"></use>
          </svg>
        </button>
      </div>

      <ul class="header-link">
        <li class="header-nav-item">
          <a href="#sign-up" class="header-nav-link">Sign up </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="backdrop">
  <div class="mobile-menu">
    <button type="button" class="close-menu" aria-label="Close menu">
      <svg class="close-menu-icon" width="40" height="40">
        <use href="./img/icons.svg#icon-x-icon"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link current" href="#about">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#courses">Our courses</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#mentors">Our mentors</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#reviews">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#contacts">contacts</a>
      </li>
    </ul>
  </div>
</div>
