<section class="hero">
  <div class="container">
    <h1 class="hero-name">
      Discover the magic of <span class="hero-name-span">photography</span> in
      our school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div class="hero-reviews-wrapper">
      <ul class="hero-reviews-list">
        <li class="hero-reviews-item">
          <img class="hero-reviews-image" src="" alt="girl" />
        </li>
        <li class="hero-reviews-item">
          <img class="hero-reviews-image" src="" alt="boy" />
        </li>
        <li class="hero-reviews-item">
          <img class="hero-reviews-image" src="" alt="girl" />
        </li>
      </ul>
      <a class="hero-reviews-id" href="#reviews">
        <span>Our happy students</span>
        <svg class="hero-icon" width="18" height="9">
          <use href="../img/icons.svg#icon-Arrow-straight"></use>
        </svg>
      </a>
      <div class="hero-reviews-wrapper-second"></div>
      <svg class="hero-icon" width="20" height="20">
        <use href="../img/icons.svg#icon-star"></use>
      </svg>
      <p>Reviews</p>
      <p>+1500</p>
      </div>
    </div>
    <img src="" alt="photographer" />
  </div>
</section>
