<section class="hero">
  <div class="container">
    <h1 class="hero-name">
      Discover the magic of <span class="hero-name-span">photography</span> in
      our school
    </h1>
    <p class="hero-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>
    <div class="hero-reviews-wrapper">
      <div class="hero-reviews-container">
        <ul class="hero-reviews-list">
          <li class="hero-reviews-item">
            <picture>
              <!-- <source 
            type="image/webp"
            srcset="
            ../img/hero/hero_girl_1_1x.webp 320w,
            ../img/hero/hero_girl_1_2x.webp 640w" 
             /> -->
              <img
                class="hero-reviews-image"
                src="../img/hero/hero_girl_1_1x.png"
                alt="girl"
                srcset="
                  ../img/hero/hero_girl_1_1x.png 1x,
                  ../img/hero/hero_girl_1_2x.png 2x
                "
              />
            </picture>
          </li>
          <li class="hero-reviews-item">
            <picture>
              <!-- <source 
            type="image/webp"
            srcset="
            ../img/hero/hero_boy_1x.webp 320w,
            ../img/hero/hero_boy_2x.webp 640w" />
            > -->
              <img
                class="hero-reviews-image"
                src="../img/hero/hero_boy_1x.png"
                alt="boy"
                srcset="
                  ../img/hero/hero_boy_1x.png 1x,
                  ../img/hero/hero_boy_2x.png 2x
                "
              />
            </picture>
          </li>
          <li class="hero-reviews-item">
            <picture>
              <!-- <source 
            type="image/webp"
            srcset="
            ../img/hero/hero_girl_1x.webp 320w,
            ../img/hero/hero_girl_2x.webp 640w"
             /> -->
              <img
                class="hero-reviews-image"
                src="../img/hero/hero_girl_1x.png"
                alt="girl"
                srcset="
                  ../img/hero/hero_girl_1x.png 1x,
                  ../img/hero/hero_girl_2x.png 2x
                "
              />
            </picture>
          </li>
        </ul>

        <a class="hero-reviews-id" href="#reviews">
          <span class="id-text">Our happy <br />students</span>
          <span
            ><svg class="hero-icon-arrow" width="18" height="9">
              <use href="../img/icons.svg#icon-Arrow-straight"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="hero-wrapper-second">
        <span class="icon-star-span">
          <svg class="hero-icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-star"></use>
          </svg>
        </span>
        <p>Reviews <span>+1500</span></p>
      </div>
    </div>
    <picture>
      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/hero/hero_mobile_1x.png 1x,
          ../img/hero/hero_mobile_2x.png 2x
        "
      />
      <source
        type="image/webp"
        srcset="
          ../img/hero/hero_mobile_1x.webp 1x,
          ../img/hero/hero_mobile_2x.webp 2x
        "
      />
      <img
        class="hero-reviews-image"
        src="../img/hero/hero_mobile_1x.png"
        alt="photographer"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/hero/hero_tablet_1x.png 1x,
          ../img/hero/hero_tablet_2x.png 2x
        "
      />
      <source
        type="image/webp"
        srcset="
          ../img/hero/hero_tablet_1x.webp 1x,
          ../img/hero/hero_tablet_2x.webp 2x
        "
      />
      <!-- Desktop screen -->
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/hero/hero_desk_1x.png 1x,
          ../img/hero/hero_desk_2x.png 2x
        "
      />
      <source
        type="image/webp"
        srcset="
          ../img/hero/hero_desk_1x.webp 1x,
          ../img/hero/hero_desk_2x.webp 2x
        "
      />
    </picture>
  </div>
</section>
