<section id="sign-up" class="section">
  <div class="container signup-section">
    <div class="signup">
      <h2 class="signup-title">Sign <span class="accent">Up</span></h2>
      <p class="signup-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="signup-form">
        <div class="signup-wrapper">
          <input
            type="text"
            name="username"
            placeholder="Enter your name"
            required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words."
            class="signup-input"
          />
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            pattern="[a-zA-Z0-9._%±]+@ [a-zA-Z0-9.-]+\. [a-zA-Z0-9_-]+"
            class="signup-input"
          />
          <textarea
            name="feedback"
            rows="3"
            placeholder="Message"
            class="signup-input signup-textarea"
          ></textarea>
        </div>
        <button type="submit" class="signup-button">Send</button>
      </form>

      <p id="myJS-ONE" class="signup-script"></p>
      <script>
        // Функция для изменения текста в зависимости от ширины экрана
        function updateContent() {
          var screenWidth = window.innerWidth;

          // Если ширина экрана меньше или равна 320px, меняем содержимое
          if (screenWidth <= 400) {
            document.getElementById('myJS-ONE').innerHTML =
              ' By clicking on &#8220;Send&#8221; button, you agree to our <a href="" class="signup-link">Privacy Policy</a> and allow Promodo to use this information for marketing purposes.';
          } else {
            // Возвращаем исходный текст, если ширина экрана больше 320px
            document.getElementById('myJS-ONE').innerHTML =
              ' By clicking on &#8220;Send&#8221; button, you agree to our <a href="" class="signup-link">Privacy Policy</a> <br />  and allow Promodo to use this information for marketing purposes.';
          }
        }

        // Вызываем функцию при загрузке страницы и изменении размеров окна
        window.onload = updateContent;
        window.onresize = updateContent;
      </script>
    </div>
    <div class="signup-wrapper-picture">
      <div class="signup-lens">
        <picture>
          <source
            srcset="/img/sign-up/lens_1x.webp 1x, /img/sign-up/lens_2x.webp 2x"
            type="image/webp"
          />
          <img
            srcset="/img/sign-up/lens_1x.png 1x, /img/sign-up/lens_2x.png 2x"
            src="/img/sign-up/lens_1x.png"
            width="150"
            height="142"
            alt="Lens"
            class="signup-img"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="signup-camera">
        <picture>
          <source
            srcset="
              /img/sign-up/camera_1x.webp 1x,
              /img/sign-up/camera_2x.webp 2x
            "
            type="image/webp"
          />
          <img
            srcset="
              /img/sign-up/camera_1x.png 1x,
              /img/sign-up/camera_2x.png 2x
            "
            src="/img/sign-up/camera_1x.png"
            width="240"
            height="296"
            class="img-camera"
            alt="Camera"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
