.about{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-title{
  color: #fff;
  /* font-family: DM sans; */
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
}

.us-title{
  color: #BEA69E;
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.12px;
}

.about-img{
  border-radius: 1000px;
  margin-bottom: 40px;
}

.about-text{
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.28;
 }

.wrapper-abouttext:not(:last-child){
  margin-bottom: 20px;
 }


