.about{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-title{
  
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

.us-title{
  color: #BEA69E;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}

.about-img{
  margin-bottom: 40px;
}

@media screen (min-width: 1280px) {
  .picture-about {
    border-radius: 1000px;
  }
}


.about-text{
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
 }

.wrapper-abouttext:not(:last-child){
  margin-bottom: 20px;
 }


