.footer {
  background-image: url(../img/background/Graphic_mobile_1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
  padding-top: 40px;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/background/Graphic_mobile_2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../img/background/Graphic_tablet_1x.png);
    padding-bottom: 25px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/background/Graphic_tablet_2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-image: url(../img/background/Graphic_1x.png);
    padding-bottom: 25px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/background/Graphic_2x.png);
  }
}

@media screen and (min-width: 768px) {
  .wrapper-top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 74px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .wrapper-top {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper-top {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 25px;
  }
}

.footer-logo-icon {
  fill: #ffffff;
  width: 127px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .footer-logo-icon {
    width: 123px;
    height: 16px;
  }
}

.footer-address {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-address {
    margin-bottom: 0;
  }
}

.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.29;
}

.footer-tel {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-nav {
  display: flex;
  gap: 40px;
  margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    gap: 25px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav {
    gap: 50px;
    margin-left: 285px;
  }
}

.footer-socials-item:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 1280px) {
  .footer-socials-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-nav-list-item:not(:last-child) {
  margin-bottom: 14px;
}

@media screen and (min-width: 1280px) {
  .footer-nav-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.footer-link {
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}

@media (hover: hover) {
  .footer-link:hover,
  .footer-link:focus {
    color: #bea69e;
  }
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-form {
    gap: 16px;
    margin-left: auto;
  }
}

.footer-label {
  display: flex;
  flex-grow: 1;
  max-width: 267px;
}

@media screen and (min-width: 768px) {
  .footer-label {
    flex-grow: 0;
    max-width: 178px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-label {
    min-width: 217px;
  }
}

.footer-input {
  padding: 20px 18px;
  border: none;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  outline: transparent;
  font-size: 16px;
  line-height: 1.25;
}

.footer-input::placeholder {
  color: #121212;
  font-size: 16px;
  font-style: normal;
  line-height: 1.25;
  opacity: 0.7;
}

.footer-button {
  border-radius: 12px;
  background: #1d1d1d;
  font-size: 20px;
  line-height: 1.2;
  padding: 18px 17px 18px 16px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

.wrapper-bottom {
  display: flex;
  justify-content: space-between;
}

.policy-agreement {
  display: flex;
  flex-direction: column;
}
