/* < !-- title --> */
.hero {
    max-width: 1440px;
    padding: 0 20px 80px 20px;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width: 768px) {
    .hero {
        padding: 0 32px 100px 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero {
        padding: 0 100px 150px 100px;
    }
}

.hero-container {
    border-radius: 30px;
    background: #1D1D1D;
    padding-top: 40px;
    min-width: 280px;
    max-width: 335px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .hero-container {
        padding-top: 64px;
        max-width: 704px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-container {
        position: relative;
        padding: 80px 50px 50px;
        max-width: 1080px;
    }
}
@media only screen and (min-width: 1440px) {
    .hero-container {
        position: relative;
        padding-right: 100px;
        max-width: 1240px;
    }
}

.hero-name {
    max-width: 295px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .hero-name {
        max-width: 517px;
        font-size: 60px;
        line-height: 1.0667;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-name {
        max-width: 563px;
        font-size: 64px;
        line-height: 1.0625;
    }
}

.hero-name-span {
    color: #BEA69E;
    font-style: italic;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .hero-name-span {
        font-size: 60px;
        line-height: 1.0667;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-name-span {
        font-size: 64px;
        line-height: 1.0625;

    }
}

.hero-text {
    line-height: 1.28;
    letter-spacing: -0.02em;
    max-width: 295px;
    font-size: 14px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .hero-text {
        max-width: 418px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-text {
        margin-bottom: 136px;
    }
}


/* < !-- hero-rewiews --> */

.hero-reviews-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 31px;
    align-items: start;
    gap: 40px;
}

@media only screen and (min-width: 768px) {
    .hero-reviews-wrapper {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-reviews-wrapper {
        margin-bottom: 0;
    }
}

.hero-reviews-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media only screen and (min-width: 768px) {
    .hero-reviews-container {
        flex-direction: row;
        gap: 12px;
    }
}

.hero-reviews-list {
    display: flex;
    padding-right: 1px;
}

@media only screen and (min-width: 768px) {
    .hero-reviews-list {
        padding-right: 0;
    }
}

.hero-reviews-item {
    flex-shrink: 0;
}

.hero-reviews-item:nth-child(3) {
    margin-left: -12px;
    z-index: 1;
}

.hero-reviews-item:nth-child(2) {
    margin-left: -12px;
    z-index: 2;
}

.hero-reviews-item:nth-child(1) {
    z-index: 3;
}

@media only screen and (min-width: 768px) {
    .hero-reviews-item:nth-child(2) {
        margin-left: -13px;
    }
}

@media only screen and (min-width: 768px) {
    .hero-reviews-item:nth-child(3) {
        margin-left: -12px;
    }
}

.hero-reviews-image {
    width: 44px;
    height: 44px;
    border: 2px solid #1D1D1D;

    border-radius: 100px;
    border: 2px solid #1D1D1D;
    background: transparent;
}

@media only screen and (min-width: 768px) {
    .hero-reviews-image {
        width: 54px;
        height: 54px;
        border: 3px solid #1D1D1D;
    }
}


.hero-wrapper-first {
    display: flex;
    gap: 4px;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .hero-wrapper-first {
        flex-direction: column;
        gap: 8px;
    }
}

.hero-reviews-id {
    display: flex;
    align-items: center;
    width: 67px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    transition: transform 250ms ease-in;
}
.hero-reviews-id:hover, .hero-reviews-id:focus {
transform: scale(1.1);
}

.hero-reviews-id:hover + .hero-icon-arrow {
transform: scale(1.1) rotate(90deg)
}

@media only screen and (min-width: 768px) {
    .hero-reviews-id {
        align-items: flex-start;
        font-size: 16px;
        line-height: 1.25;
        width: 82px;

    }
}

.hero-icon-arrow {
    fill: #FFFFFF;
    transition: transform 250ms ease;
}

@media only screen and (min-width: 768px) {
    .hero-icon-arrow {
        align-self: flex-start;
    }
}

.hero-wrapper-second {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.hero-icon-star {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    fill: none;
    stroke: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BEA69E;
    flex-shrink: 0;
}


@media only screen and (min-width: 768px) {
    .hero-icon-star {
        width: 50px;
        height: 50px;
        padding: 15px;
    }
}

.reviews-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.reviews-box p:first-child {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    line-height: 1.29;
    /* letter-spacing: -0.04em; */
}

.reviews-box p:last-child {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    /* letter-spacing: -0.04em; */
}

@media only screen and (min-width: 768px) {
    .reviews-box p:first-child {
        font-size: 16px;
        line-height: 1.25;
    }
}

/* < !-- Photo --> */

.hero-img-wrapper {
    display: flex;
    justify-content: center;
}

.hero-photographer-image {
    width: 259px;
    background: transparent;
}

@media only screen and (min-width: 1280px) {
    .hero-img-wrapper {
        position: absolute;
        right: 50px;
        bottom: 0;
    }
}
@media only screen and (min-width: 1440px) {
    .hero-img-wrapper {
        right: 100px;
    }
}

@media only screen and (min-width: 768px) {
    .hero-photographer-image {
        width: 393px;
    }

}

@media only screen and (min-width: 1280px) {
    .hero-photographer-image {
        width: 397px;
    }

}
