/* < !-- title --> */
.hero{
    max-width: 1440px;
    padding: 20px 20px 80px 20px;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/background/Graphic_mobile_1x.png);
}
@media (min-resolution: 192dpi){
.hero{
        background-image: url(../img/background/Graphic_mobile_2x.png);
}
}
@media only screen and (min-width: 768px){
    .hero{
        padding: 40px 32px 100px 32px;
        background-image: url(../img/background/Graphic_tablet_1x.png) ;
    }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi){
.hero {
        background-image: url(../img/background/Graphic_tablet_2x.png);
    }
}
@media only screen and (min-width: 1280px){
    .hero {
            padding: 80px 100px 150px 100px;
            background-image: url(../img/background/Graphic_1x.png);
        }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi){
    .hero {
            background-image: url(../img/background/Graphic_2x.png);
        }
}

.hero-container{
    border-radius: 30px;
    background: #1D1D1D;
    padding-top: 40px;
    
}
@media only screen and (min-width: 768px) {
    .hero-container {
        padding-top: 64px;
    }
}
@media only screen and (min-width: 1280px){
.hero-container{
    position: relative;
    padding-top: 80px;
}
}

.hero-name{
    max-width: 295px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .hero-name{
        max-width: 517px;
        font-size: 60px;
        line-height: 1.07;
    }
}
@media only screen and (min-width: 1280px) {
    .hero-name {
            max-width: 563px;
        }
}
.hero-name-span{
    color: #BEA69E;
    font-style: italic;
    font-weight: 400;
}
@media only screen and (min-width: 768px){
    .hero-name-span{
        font-size: 60px;
        line-height: 1.07;
    }
}
.hero-text{
    line-height: 1.28;
    letter-spacing: -0.02em;
    max-width: 295px;
    font-size: 14px;
    margin-bottom: 40px;
}
@media only screen and (min-width: 768px){
    .hero-text{
    max-width: 418px;
    }
}
@media only screen and (min-width: 1280px) {
    .hero-text {
        margin-bottom: 136px;
    }
}


/* < !-- hero-rewiews --> */

.hero-reviews-wrapper{
    display: flex;
    margin-bottom: 40px;
}

/* .hero-img-container{
    display: flex;

} */
.hero-reviews-list{
    display: flex;
    margin-bottom: 4px;
}
@media only screen and (min-width: 1280px){
    .hero-reviews-list{
        margin-bottom: 50px;
    }
}
.hero-reviews-item:nth-child(3) {
    transform: translateX(-32px);
    z-index: 1;
}
.hero-reviews-item:nth-child(2) {
    transform: translateX(-16px);
    z-index: 2;
}
.hero-reviews-item:nth-child(1) {
    z-index: 3;
}
.hero-reviews-item{
    min-width: 44px;
    min-height: 44px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #1D1D1D;
    background: transparent;
}
.hero-reviews-id span {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px){
    .hero-reviews-id span{
            font-size: 16px;
            line-height: 1.25;
    }
}

.hero-icon-arrow{
    fill: #FFFFFF;
}

.hero-icon-star{
    fill: none;
    stroke: #121212;
}

.icon-star-span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background: #BEA69E;
    flex-shrink: 0;
}
@media only screen and (min-width: 768px){
.icon-star-span{
    width: 50px;
    height: 50px;
}
}

.hero-wrapper-second{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 40px;
}
.hero-reviews-id{
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px){
    .hero-reviews-id{
        align-items: flex-start;
    }
}
.id-text{
    margin-right: 4px;
}
@media only screen and (min-width: 768px) {
    .hero-reviews-image {
        min-width: 54px;
        min-height: 54px;
    }
}

.hero-reviews-container{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px){
    .hero-reviews-container{
        flex-direction: row;
        gap: 12px;
    }
}


.hero-wrapper-second p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    margin-bottom: 4px;
}
@media only screen and (min-width: 768px){
    .hero-wrapper-second p{
    font-size: 16px;
    line-height: 1.25;
    }
}

.hero-wrapper-second p>span{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
}
.hero-wrapper-first{
    display: flex;
}
@media only screen and (min-width: 1280px){
    .hero-wrapper-first{
        flex-direction: column;
    }
}

/* < !-- Photo --> */

.hero-img-wrapper{
    display: flex;
    justify-content: center;
}
.hero-photographer-image{
    min-width: 259px;
    background: transparent;
}
@media only screen and (min-width: 1280px){
.hero-img-wrapper{
    position: absolute;
    right: 50px;
    bottom: 0;
}
}
@media only screen and (min-width: 768px){
    .hero-photographer-image{
    min-width: 393px;
    }
    
}
@media only screen and (min-width: 1280px) {
    .hero-photographer-image {
        min-width: 397px;
    }

}



