.signup {
  max-width: 335px;
  line-height: 1.29;
}
@media screen and (min-width: 768px) {
  .signup {
    max-width: 480px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .signup{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1280px){
  .signup-section{
    display: flex;
    align-items: flex-start;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .signup-section{
    gap: 200px;
  }
}

.signup-title {
  margin-bottom: 20px;
}

.signup-text {
  max-width: 295px;
  font-size: 14px;
  letter-spacing: -0.02em;
  margin-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .signup-text {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.signup-wrapper{
  display: flex;
  flex-direction: column;
  outline: transparent;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .signup-wrapper {
    gap: 14px;
  }
}

.signup-form {
  margin-bottom: 20px;
}

.signup-input {
  width: 100%;
  height: 46px;
  flex-shrink: 0;

  background-color: rgba(18, 18, 18, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  padding: 14px 18px;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .signup-input {
    display: block;
    width: 100%;
    height: 60px;

    font-size: 16px;
    padding: 20px 18px;
  }
}

.signup-input:hover,
.signup-input:focus{
  border: 1px solid rgba(255, 255, 255, 0.50);
}

.signup-textarea {
  height: 112px;
  margin-bottom: 40px;
  resize: none;
}
@media screen and (min-width: 768px) {
  .signup-textarea {
    height: 119px;
  }
}
@media screen and (min-width: 1280px) {
  .signup-textarea {
    height: 120px;
  }
}

.signup-button {
  display: block;
  min-width: 100%;
  height: 56px;

  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(18, 18, 18, 1);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-button:hover,
.signup-button:focus {
  background-color: rgba(29, 29, 29, 1);
  color: rgba(190, 166, 158, 1);
}

@media screen and (min-width: 768px) {
  .signup-button {
    min-width: 479px;
    height: 60px;

    font-size: 18px;
    line-height: 1.56;
  }
}

.signup-script {
  width: 336px;
  width: 101%;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.50);
}
@media screen and (min-width: 768px) {
  .signup-script{
    width: 100%;
    font-size: 14px;
    line-height: 1.29;
  }
}

.signup-link{
  text-decoration: underline;
}

/* Оформлення для div картинок */
.signup-wrapper-picture{
  display: none;
}

@media screen and (min-width: 1280px) {
  .signup-wrapper-picture {
      display: flex;
      align-items: flex-end;
      gap: 20px;
    }

    .signup-lens {
      width: 180px;
      height: 288px;
      padding: 76px 19px 62px;
  
      border-radius: 1000px;
      background: #BEA69E;
      overflow: hidden;
    }

    .signup-img{
      background: transparent;
      filter: drop-shadow(-35px 17px 10px rgba(0, 0, 0, 0.26));
    }

    .signup-camera {
      width: 340px;
      height: 540px;
      padding: 156px 50px 88px;
  
      border-radius: 1000px;
      background: #1D1D1D;
    }
}

@media screen and (min-width: 1440px){
  .signup-lens{
    width: 190px;
    padding: 63px 18px 62px;
  }

  .signup-img{
    width: 163px;
    height: 154px;
  }

  .signup-camera{
    width: 350px;
    padding: 139px 48px 88px;
  }

  .img-camera{
    width: 254px;
    height: 313px;
  }
}